/* .App {
  text-align: center;
} */

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Background1{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: fixed relative;
}

/* //////app styles////// */
.Navbar{
  align-items: center;
  background-color: #AB433CE6;
  height: 70px;
}

.nav.navbar-nav.navbar-right li a {
  color: #FFFFFF;
}
/* ////////////////////// */
.navbar-nav > li > .dropdown-menu { 
  background-color: #AB433C;
}
.navbar-nav > li > .dropdown-menu :hover { 
  background-color: #AB433C;
}

.Grey{
  /*  */
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
